.review-section {
  margin-top: 10%;
  margin-bottom: 10%;
}

.reviews-header {
  background-image: url(../../../images/reviews-cover.jpg);
  height: 60vh;
  background-size: cover;
}

.user-photo {
  width: 20%;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
    slides-per-view: 1;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
