.navlink {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
}
.navlink-home {
  display: inline-block;
  color: #000;
  text-decoration: none;
  margin-left: -100%;
}

/* .logo {
  margin-left: -5%;
} */

.dash-button {
  margin-right: 10px !important;
  background-color: black !important;
  color: white !important;
  color: #ffee00;
}

.navlink:hover {
  color: #000;
}

.navlink::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.navlink:hover::after {
  width: 100%;
  transition: width 0.3s;
}

@media only screen and (max-width: 688px) {
  .navlink-home {
    margin-left: 0%;
  }

  .dash-button {
    background-color: black;
    color: #ffee00;
  }

  .logo {
    width: 100%;
    margin-right: -30%;
  }
}
