.order-tite {
  background-color: #080808;
  padding: 2%;
  border-radius: 8px;
  color: white;
}

.order-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.img {
  width: 20%;
  height: 20%;
}

.location {
  width: 200px;
}
.button {
  margin-left: 1%;
  margin-right: 1%;
}

.button-delete .bk-button {
  background-color: #f80303;
  color: white;
}
/* Responsive Design */

@media only screen and (max-width: 688px) {
  .order {
    padding-bottom: 10%;
  }
  .order-list {
    display: flex;
    flex-direction: column;
    /* margin-top: 10%; */
  }

  .img,
  .location,
  .button {
    margin-top: 5%;
  }

  .order-form input {
    display: block;
    margin-top: 5%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 200px;
  }

  .order-form {
    margin: 0px 0px;
  }

  .order-input-button {
    width: 60%;
  }

  .order-tite {
    margin-top: 30px;
  }
}
