.dashboard {
  background-color: black;
  height: 100vh;

  color: white;
  cursor: pointer;
}
.dashboard-menu {
  list-style: none;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  padding: 5%;
}

a {
  text-decoration: none;
  text-align: left;
}
.dashboard-menu:hover {
  background-color: #ffee00;
  color: black;
}
