.dashboard {
  background-color: black;
  height: 100vh;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}
.dashboard-menu {
  list-style: none;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  padding: 5%;
}

a {
  text-decoration: none;
  text-align: left;
}
.dashboard-menu:hover {
  background-color: #ffee00;
  color: black;
}

.dash-logout-button {
  background-color: #ffee00;
  margin-top: 40px;
  margin-left: -200px;
}

/* Responsive Design */

@media only screen and (max-width: 688px) {
  .dash-logout-button {
    background-color: #ffee00;
    margin-top: 40px;
    margin-left: 0px !important;
  }
}
